/* GENERAL RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #444444;

}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

ul li {
    list-style: none;
}

ul li i {
    color: #149B31;
}


/* REGOLE FORMATTAZIONE */

/* classe per le parti in stampatello maiuscolo */
.uppercase {
    text-transform: uppercase;
}

.fs_18px {
    font-size: 18px;
}

.lh_30 {
    line-height: 30px;
}


/* BOTTONI */
.btn_red {
    padding: 13px 20px;
    background-color: #C9252C;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
}

.btn_grey {
    padding: 13px 20px;
    background-color: #444444;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
}

.btn_white {
    padding: 13px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    color: #444444;
}

.btn_round {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    background-color: #C9252C;
    cursor: pointer;
}

.btn_box {
    display: flex;
}


/* HEADER-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

header {
    height: 800px;
    background-image: url(../img/header_elettrolaser.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.box_logo img {
    margin-top: 22px;
    margin-bottom: 110px;
}

.box_info_header {
    width: 35%;
}

.box_info_header h1 {
    font-size: 62px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_info_header .buttons_header {
    margin-top: 30px;
    display: flex;
    /* justify-content: space-between; */
}

.buttons_header .btn_red {
    margin-right: 15px;
}


@media screen and (min-width: 737px) and (max-width: 1279px) {

    .box_info_header {
        width: 75%;
    }
}

@media screen and (min-width: 481px) and (max-width: 736px) {

    .box_info_header {
        width: 90%;
    }

    header {
        background-position: -600px;
    }

    .box_info_header h1 {
        font-size: 52px;
    }
}

@media screen and (max-width: 480px) {

    header {
        background-position: -700px;
    }

    .box_info_header {
        width: 100%;
    }

    header p {
        font-size: 15px;
    }

    .box_info_header h1 {
        font-size: 52px;
    }

    .box_info_header .buttons_header {
        
        justify-content: space-between;
    }
}

/* FINE HEADER=================================================================================== */


/* MAIN-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

main {
    margin-top: 130px;
    /* margin-bottom: 120px; */
    background-color: #fff;

}

/* SEZIONE INNOVATION---------------------------------------------------------------- */

section.innovation {
    height: 440px;
    margin-bottom: 120px;
}

section.innovation .container {
    display: flex;
    justify-content: space-between;
}

.innovation_text {
    width: calc(40% - 100px);
}

.innovation_text  h2 {
    font-size: 48px;
    font-weight: 200;
    padding-bottom: 30px;
    border-bottom: 2px solid #dadada;
}

/* .innovation_text  h2::after {
    content: '';
    width: 50%;
    border: 1px solid #C9252C;
} */

.innovation_text p {
    padding-top: 30px;
    line-height: 30px;
    font-size: 18px;
}

.innovation_img {
    width: 60%;
    background-image: url(../img/elettrolaser_sede.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 737px) and (max-width: 1279px) {

    .innovation_text {
        width: calc(40% - 30px);
    }

    .innovation_text  h2 {
        font-size: 36px;

    }

    .innovation_text p {
        line-height: 25px;
        font-size: 16px;
    }

    .innovation_img {

        background-position: right;
        background-size: auto;

    }
    
}

@media screen and (min-width: 480px) and (max-width: 736px) {

    section.innovation .container {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .innovation_text {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    
    .innovation_img {
        height: 200px;
        width: 90%;

    }

    .innovation_text  h2 {
        font-size: 32px;

    }

    .innovation_text p {
        line-height: 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {

    section.innovation .container {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .innovation_text {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    
    .innovation_img {
        height: 200px;
        width: 100%;

    }

    .innovation_text  h2 {
        font-size: 32px;

    }

    .innovation_text p {
        line-height: 25px;
        font-size: 16px;
    }
}



/* FINE SEZIONE INNOVATION---------------------------------------------------------------- */


/* SEZIONE CUT_MACHINE---------------------------------------------------------------- */

section.cut_machine {
    background-color: #F6F6F6;
    padding-top: 100px;
    height: 800px;
}

section.cut_machine h2 {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 200;
    padding-bottom: 30px;
    border-bottom: 2px solid #dadada;
}

@media screen and (min-width: 737px) and (max-width: 1279px) {
    section.cut_machine h2 {
        font-size: 40px;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 736px) {
    section.cut_machine h2 {
        font-size: 34px;
    }
    section.cut_machine {
        
        max-height: 750px;
    }
    
}

@media screen and (max-width: 480px) {

    section.cut_machine h2 {
        font-size: 30px;
    }

    section.cut_machine {
        
        max-height: 600px;
    }
    
}

/* FORMATTAZIONE DEGLI SLIDER PRODOTTO */

.slider {
    display: flex;
    align-items: center;
}


.objects_slider {
    flex-grow: 2;
    display: flex;
    max-height: 610px;
}

.objects_slider .img_slider {
    height: 610px;
    display: flex;
    align-items: center;
}


.objects_slider .img_slider img {
    max-height: 610px;
}

.info_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_slider h4 {
    text-transform: uppercase;
}

.info_slider h3 {
    font-size: 36px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #C9252C;
}

.info_slider ul {
    line-height: 30px;
    margin-bottom: 30px;

}

.info_slider ul li {
    font-size: 18px;
}

.info_slider .btn_red {
    margin-bottom: 20px;
}

.info_slider a {
    color: #444444;
    font-size: 18px;
    margin-top: 20px;
}


@media screen and (min-width: 1280px) {

    .slider {
        justify-content: space-between;
    }

    .objects_slider {
        flex-grow: 0;

    }
    
}

@media screen and (min-width: 737px) and (max-width: 1279px) {

    .info_slider h3 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .info_slider ul {
        line-height: 24px;
        margin-bottom: 15px;  
    }
    
    .info_slider ul li {
        font-size: 16px;
    }

    .info_slider a {
        font-size: 16px;
        margin-top: 10px;

    }

    .info_slider {
        flex-grow: 2;
    }
    
    .objects_slider .img_slider img {
        max-height: 450px;
        max-width: 300px;
    }

    .info_slider .btn_red {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 736px) {

    .objects_slider .img_slider {
        height: 400px;
    }

    .objects_slider .img_slider img {
        max-height: 250px;
        max-width: 150px;
    }

    .info_slider h3 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .info_slider ul {
        line-height: 20px;
        margin-bottom: 15px;  
    }
    
    .info_slider ul li {
        font-size: 14px;
    }

    .info_slider a {
        font-size: 14px;
        margin-top: 0px;

    }

    .info_slider {
        flex-grow: 2;
    }
    
}

@media screen and (max-width: 480px) {

    .objects_slider .img_slider {
        display: none;
    }


    .info_slider h3 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .info_slider ul {
        line-height: 20px;
        margin-bottom: 15px;  
    }
    
    .info_slider ul li {
        font-size: 14px;
    }

    .info_slider a {
        font-size: 14px;
        margin-top: 0px;

    }

    .info_slider {
        margin-left: 10px;
        margin-right: 10px;

    }

    .btn_box {
        text-align: center;
    }

    .info_slider {
        align-items: center;
    }
}


/* FINE SEZIONE CUT_MACHINE---------------------------------------------------------------- */

/* INIZIO SEZIONE WELDING_MACHINE---------------------------------------------------------- */


section.welding_machine {
    background-color: #ffffff;
    padding-top: 100px;
    height: 800px;
}

section.welding_machine h2 {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 200;
    padding-bottom: 30px;
    border-bottom: 2px solid #dadada;
}

@media screen and (min-width: 737px) and (max-width: 1279px) {
    section.welding_machine h2 {
        font-size: 40px;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 736px) {
    section.welding_machine h2 {
        font-size: 34px;
    }

    section.welding_machine {
        
        max-height: 750px;
    }
    
}

@media screen and (max-width: 480px) {

    section.welding_machine h2 {
        font-size: 30px;
    }

    section.welding_machine {
        
        max-height: 600px;
    }
    
}

/* FINE SEZIONE WELDING_MACHINE---------------------------------------------------------- */

/* MORE_INFO SECTION---------------------------------------------------------------------- */

section.more_info {
    background-color: #C9252C;
    color: #ffffff;
    height: 540px;
}

.more_info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more_info h3 {
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 45px;
}

.more_info p {
    max-width: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 45px;
}



@media screen and (min-width: 737px) and (max-width: 1279px) {

    .more_info h3 {
        font-size: 40px;
        text-align: center;
    }

    .more_info p {
        max-width: 70%;
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (min-width: 481px) and (max-width: 736px) {

    .more_info h3 {
        font-size: 38px;
        text-align: center;
    }

    .more_info p {
        max-width: 90%;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 480px) {

    .more_info h3 {
        font-size: 34px;
        text-align: center;
    }

    .more_info p {
        max-width: 100%;
        font-size: 16px;
        line-height: 24px;
    }
    
}
/* FINE MORE_INFO SECTION---------------------------------------------------------------------- */


/* CLIENTS SECTION---------------------------------------------------------------------- */

section.clients {
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #F6F6F6;
    min-height: 750px;
}

section.clients h2 {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 200;
    padding-bottom: 30px;
    border-bottom: 2px solid #dadada;
}

.box_rewiews {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box_rewiews .box_client {
    background-color: #ffffff;
    width: calc(50% - 20px);
    height: 340px;
    padding: 30px;
}

.box_client {
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_client_rewiew {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_client_rewiew .info_client .name_client {
    text-transform: uppercase;
    font-weight: 700;
}

.vote_rewiew i {
    padding: 0px 2px;
}

.clients_buttons {
    margin-top: 25px;
    display: flex;
}

.clients_buttons div:first-child {
    margin-right: 20px;
}


@media screen and (min-width: 737px) and (max-width: 1279px) {

    section.clients .container h2 {
        font-size: 40px;
    }

    .box_rewiews .box_client {
        padding: 20px;
    }

    .box_client p {
        font-size: 16px;
        line-height: 22px;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 736px) {

    section.clients .container h2 {
        font-size: 34px;
    }

    .box_rewiews {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box_rewiews .box_client {

        width: 90%;
        max-height: 270px;
        padding: 20px;
    }

    .box_rewiews .box_client:first-child {
        margin-bottom: 20px;
    }
    
    .clients_buttons {
        justify-content: center;
    }

    .box_client p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 480px) {

    section.clients .container h2 {
        font-size: 30px;
    }

    .box_rewiews {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box_rewiews .box_client {

        width: 100%;
        max-height: 270px;
        padding: 20px;
    }

    .box_rewiews .box_client:first-child {
        margin-bottom: 20px;
    }
    
    .clients_buttons {
        justify-content: center;
    }

    .box_client p {
        font-size: 15px;
        line-height: 20px;
    }
    
}

/* FINE CLIENTS SECTION---------------------------------------------------------------------- */


/* ADVANTAGES SECTION---------------------------------------------------------------------- */

section.advantages .container {
    display: flex;
    padding: 70px 0px;
}

section.advantages .container h2 {
    margin-right: 150px;
    max-width: 360px;
    font-size: 48px;
    font-weight: 100;
    line-height: 58px;
    padding-bottom: 30px;
    border-bottom: 2px solid #dadada;
}

section.advantages .container ul {
    font-size: 18px;
    line-height: 30px;
}


@media screen and (min-width: 737px) and (max-width: 1279px) {

    section.advantages .container h2 {
        margin-right: 120px;
        font-size: 40px;
        line-height: 48px;
    }

    section.advantages .container ul {
        font-size: 16px;
        line-height: 26px;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 736px) {

    section.advantages .container h2 {
        margin-right: 40px;
        font-size: 30px;
        line-height: 34px;
    }

    section.advantages .container ul {
        font-size: 15px;
        line-height: 22px;
    }
    
}

@media screen and (max-width: 480px) {

    section.advantages .container {
        flex-wrap: wrap;
    }

    section.advantages .container h2 {
        margin-right: 40px;
        font-size: 30px;
        line-height: 34px;
    }

    section.advantages .container ul {
        font-size: 15px;
        line-height: 22px;
    }
    
}


/* FINE ADVANTAGES SECTION---------------------------------------------------------------------- */


/* SECTION CONTACTS---------------------------------------------------------------------------- */

section.contacts {
    background-color: #F6F6F6;
    padding: 100px 0px;
}

section.contacts .container {
    display: flex;
    justify-content: space-between;
}

.box_contact_us {
    max-width: 30%;
}

.box_contact_us h2 {
    font-size: 48px;
    font-weight: 200;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid #dadada;
}

.box_contact_us p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
}

.box_contact_us h4 {
    font-size: 26px;
    font-weight: 600;

}

.box_contact_us h4 span {
    font-size: 24px;
    font-weight: 600;
    color: #C9252C;
    cursor: pointer;
}

@media screen and (min-width: 737px) and (max-width: 1279px) {

    .box_contact_us h2 {
        font-size: 40px;
    }
    .box_contact_us p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 481px) and (max-width: 736px) {

    section.contacts .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box_contact_us {
        max-width: 90%;
        text-align: center;
    }

    .box_contact_us h2 {
        font-size: 34px;
    }
    .box_contact_us p {
        font-size: 16px;
        line-height: 24px;
    }
    
}

@media screen and (max-width: 480px) {

    section.contacts .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box_contact_us {
        max-width: 90%;
        text-align: center;
    }

    
    .box_contact_us p {
        font-size: 16px;
        line-height: 24px;
    }

    .box_contact_us h2 {
        font-size: 30px;
    }
    
}


/* formattazione del form */

.form_contacts {
    margin-left: 130px;
    width: calc(70% - 130px);
}

.form_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 18px;
}

.form_input input {
    height: 46px;
    border: 1px solid #D7D7D7;
    margin-top: 3px;
}

.form_input textarea {
    height: 120px;
    border: 1px solid #D7D7D7;
    margin-top: 3px;
}

.name_phone_box {
    display: flex;
}

.name_phone_box .box_name {
    width: 40%;
    margin-right: 30px;
}

.name_phone_box .box_phone {
    width: calc(60% - 30px);
}

.box_message span {
    font-size: 15px;
}

.box_checkbox {
    font-size: 15px;
    margin-bottom: 10px;
}

.box_checkbox input {
    margin-right: 3px;
}


.form_contacts .btn_box {
    display: flex;
    margin-top: 50px;
}

@media screen and (min-width: 737px) and (max-width: 1279px) {

    .form_contacts {
        margin-left: 70px;
        width: calc(70% - 70px);
    }

    label {
        font-size: 16px;
    }

    
}

@media screen and (min-width: 481px) and (max-width: 736px) {

    .form_contacts {
        margin-left: 0px;
        width: 90%;
        margin-top: 30px;
    }

    label {
        font-size: 14px;
    }

    .form_contacts .btn_box {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {

    .form_contacts {
        margin-left: 0px;
        width: 100%;
        margin-top: 30px;
    }

    label {
        font-size: 14px;
    }

    .form_contacts .btn_box {
        justify-content: center;
    }
    
}
/* FINE SECTION CONTACTS---------------------------------------------------------------------------- */


/* FOOTER========================================================================================= */

footer {
    background-color: black;
}

footer .container {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}



@media screen and (min-width: 481px) and (max-width: 736px) {

    footer .container {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 480px) {

    footer .container {
        font-size: 12px;
    }
    
}